<!-- 背景 -->
<div class="toppage-background"></div>

<!-- メニュー -->
<div class="toppage-menu">
  <ul>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
  </ul>
</div>

<!-- お知らせ -->
<div class="toppage-announce">
  おしらせ
</div>

<!-- ログイン -->
<div class="toppage-login">
  <%= link_to "ログイン", new_user_session_path %>
  <%= link_to "新規", new_user_registration_path %>
</div>

<!-- 紹介 -->
<div class="toppage-presentation">
  紹介
</div>
