<!-- メニュー(共通パーツ)-->
<%= render 'menu' %>

<!-- お知らせ -->
<div class="mypage-announce">お知らせ</div>

<!-- プロフィール -->
<div class="mypage-profile">プロフィール</div>

<!-- 区画 -->
<div class="mypage-section">区画</div>

<!-- カレンダー -->
<div class="mypage-calendar">カレンダー</div>

<!-- 日誌 -->
<div class="mypage-diary">日誌</div>
